<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kotoumi.sifcapapi.dao.mapper.LlProxyMapper">

    <select id="searchUser" resultType="com.kotoumi.sifcapapi.model.vo.service.User">
        select *
        from user
        <where>user_id like "%"#{keyword}"%" or name like "%"#{keyword}"%" or invite_code like "%"#{keyword}"%"</where>
        limit #{limit}
    </select>

    <select id="findUser" resultType="com.kotoumi.sifcapapi.model.vo.service.User">
        select *
        from user
        <where>user_id = #{userId}</where>
        limit 1
    </select>

    <select id="searchLive" resultType="com.kotoumi.sifcapapi.model.vo.service.Live">
        select play.*,
               setting.*,
               live_track_m.name,
               live_track_m.title_asset,
               live_track_m.sound_asset
        from (
            select * from live_play where user_id = #{userId}
            <if test="eventId != null">
                and event_id = #{eventId}
            </if>
        ) play
        left join (
            (select live_difficulty_id, live_setting_id from normal_live_m)
            union all
            (select live_difficulty_id, live_setting_id from special_live_m)
        ) live_difficulty
        on play.live_difficulty_id = live_difficulty.live_difficulty_id
        left join (
            select live_setting_id,
                   difficulty,
                   stage_level,
                   live_icon_asset,
                   live_track_id
            from live_setting_m
            <if test="setId != null">
                where live_setting_id = #{setId}
            </if>
        ) setting
        on live_difficulty.live_setting_id = setting.live_setting_id
        left join live_track_m
        on setting.live_track_id = live_track_m.live_track_id
        <if test="setId != null">
            <where>setting.live_setting_id = #{setId}</where>
        </if>
        limit #{start}, #{limit}
    </select>

    <select id="countLive" resultType="Integer">
        select count(1)
        from (
        select * from live_play where user_id = #{userId}
            <if test="eventId != null">
                and event_id = #{eventId}
            </if>
        ) play
        left join (
            (select live_difficulty_id, live_setting_id from normal_live_m)
            union all
            (select live_difficulty_id, live_setting_id from special_live_m)
        ) live_difficulty
        on play.live_difficulty_id = live_difficulty.live_difficulty_id
        left join (
            select * from live_setting_m
            <if test="setId != null">
                where live_setting_id = #{setId}
            </if>
        ) setting
        on live_difficulty.live_setting_id = setting.live_setting_id
        left join live_track_m
        on setting.live_track_id = live_track_m.live_track_id
    </select>

    <select id="findUnit" resultType="com.kotoumi.sifcapapi.model.vo.service.Unit">
        select *
        from unit_m
        <where>unit_id = #{unitId}</where>
        limit 1
    </select>

</mapper>